<div class="row" >    
    <div class="col-md-4 cardCrawl" ng-repeat="aggregation in aggreagtions.aggregationList" >
        
        <h3><strong>{{aggregation.status}}</strong> {{aggregation.name}}</h3>
        <p ng-if="aggregation.aggregationType=='BasicAggregation'">
            <span><strong>Cluster number: </strong>{{aggregation.clusterNumber}}</span>
            <span><strong>Minimum item number: </strong>{{aggregation.minItem}}</span>
        </p>
        <p ng-if="aggregation.aggregationType=='PopularityAggregation'">
            <span><strong>Date to popularity: </strong>{{aggregation.dateToPopularity | date:'yyyy-MM-dd'}}</span>
        </p>
        <div>            
            <span ng-if="aggregation.status != 'Starting'" style="">
                <button class="btn btn-primary btn-sm" ng-click="pauseAggr(aggregation)">
                    <span ng-if="aggregation.status == 'Paused'"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>
                    <span ng-if="aggregation.status == 'Running'"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>
                </button>
                <button class="btn btn-primary btn-sm" ng-if="aggregation.isStopable" ng-click="stopAggr(aggregation)"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>             
            </span> 
        </div>
        <div class="row logwindow" style=" height: 300px; overflow: auto; border-top: 2px solid purple; padding-top:10px;">
            <div class="col-md-12" ng-repeat="logs in aggreagtions.logList" >
                <p ng-repeat="log in logs" ng-if="log.id==aggregation.id && log.message!=''">{{log.timestamp  | date:'yyyy-MM-dd HH:mm:ss'}} - {{log.message}}</p>
            </div>
        </div>
    </div>
</div>
