<div class="row" >    
    <div class="col-md-4 cardCrawl kill" ng-repeat="crawlService in crawlServices.serviceList" > 
        <div class="info">
            <h2 style="border-bottom: 2px solid purple; padding-bottom: 15px; padding-left:10px; position: relative;">{{crawlService.name}} <small>{{crawlService.id+"-"+crawlService.type+"-"+crawlService.mode;}}</small>
            <img style="position: absolute; right: 0px;bottom: 0px;" class="profile-img-card" src="img/crawler.png" alt="Crawler" /></h2>
            <p style="position: absolute; bottom: 0px; right:0px;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{crawlService.startDate | date:'yyyy.MM.dd HH:mm:ss'}}</p>  
        <div style="position: absolute; bottom: 0;left:0;">            
                <button class="btn btn-primary btn-sm" ng-click="restartService(crawlService)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>             
        </div>
            <div style="margin-top:10px;" class="bg-info status" ng-if="crawlService.type != 'instagram' && crawlService.type != 'periscope' && crawlService.mode != 'update'"><span>{{crawlService.coordinates}}</span></div>     
        </div>
    </div>
</div>
