<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="startAsyncAsJSON()">  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="nameOne">Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameOne" ng-model="name" placeholder="Crawler name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="modeOne">Choose mode </label>
                <div class="col-sm-10">
                    <select id="modeOne" class="form-control" ng-model="mode" ng-init="mode = modeList[0]" ng-options="option for option in modeList">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="typeOne">Choose type </label>
                <div class="col-sm-10">
                    <select id="typeOne" class="form-control" ng-model="type" ng-init="type = typeList[0]" ng-options="option for option in typeList">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputviewer3" class="col-sm-2 control-label">Max viewer count</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputviewer3" ng-init="maxViewer=10000" ng-model="maxViewer" placeholder="Max viewer count">
                </div>            
                <label for="inputvideo3" class="col-sm-2 control-label">Max video count</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputvideo3" ng-init="videoCount=10" ng-model="videoCount" placeholder="Max viceoCount">
                </div>            
            </div>
            <div class="form-group">
                <h5 style="padding:10px;" class="bg-primary">Only facebook</h5>
                <label for="inputEast3" class="col-sm-1 control-label">East</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputEast3" ng-init="east='23.432491'" ng-model="east" placeholder="East">
                </div>
            
                <label for="inputWest3" class="col-sm-1 control-label">West</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputWest3" ng-init="west='15.896219'" ng-model="west" placeholder="West">
                </div>
            
                <label for="inputSouth3" class="col-sm-1 control-label">South</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputSouth3" ng-init="south='45.725798'" ng-model="south" placeholder="South">
                </div>
                <label for="inputNorth3" class="col-sm-1 control-label">North</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputNorth3" ng-init="north='48.423464'" ng-model="north" placeholder="North">
                </div>
                
            </div>
            <div class="form-group">
                <h5 style="padding:10px;" class="bg-primary">Only twitter</h5>
                <label for="inputLongitude3" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputLongitude3" ng-init="longitude='-77.0846157'" ng-model="longitude" placeholder="Longitude">
                </div>
            
                <label for="inputLatitude3" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputLatitude3" ng-init="latitude='38.8937091'" ng-model="latitude" placeholder="Latitude">
                </div>
                <label for="inputRadius3" class="col-sm-2 control-label">Radius</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputRadius3" ng-init="radius='100'" ng-model="radius" placeholder="Radius">
                </div>
            
            </div>      
            <div class="form-group">
                <h5 style="padding:10px;" class="bg-primary">Only Custom crawler</h5>
                
                <label for="inputListUrl" class="col-sm-2 control-label">Video list url</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputListUrl" ng-init="listUrl='http://www.fakeprovider.lh/?menu=list'" ng-model="listUrl" placeholder="List url">
                </div>
                <label for="inputdetailsUrl" class="col-sm-2 control-label">Video details url</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputdetailsUrl" ng-init="detailsUrl='http://www.fakeprovider.lh/?menu=video&id=%s'" ng-model="detailsUrl" placeholder="Details url">
                </div>
                <label class="col-sm-2 control-label" for="provName">Name </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="provName" ng-init="providerName='FAKE'" ng-model="providerName" placeholder="Provider Name">
                </div>
            </div>      
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Create new service</button></div>           
        </form>        
    </div>
</div>
