<div class="row" >    
    <div class="col-lg-4 col-md-6 cardCrawl" ng-repeat="crawlService in crawlServices.serviceList" > 
        <div class="info">
            <h2 style="border-bottom: 2px solid purple; padding-bottom: 15px; padding-left:10px; position: relative;">{{crawlService.name}} <small>{{crawlService.id+"-"+crawlService.type+"-"+crawlService.mode;}}</small>
            <img style="position: absolute; right: 0px;bottom: 0px;" class="profile-img-card" src="img/crawler.png" alt="Crawler" /></h2>
        <div style="position: absolute; bottom: 0;left:0;">            
            <span ng-if="crawlService.status != 'Starting'" style="">
                <button class="btn btn-primary btn-sm" ng-click="pauseService(crawlService)">
                    <span ng-if="crawlService.status == 'Paused'"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>
                    <span ng-if="crawlService.status == 'Running'"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>
                </button>
                <button class="btn btn-primary btn-sm" ng-if="crawlService.isStopable" ng-click="stopService(crawlService)"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>             
            </span> 
        </div>
        <div class="bg-info status" ng-if="crawlService.status == 'Starting'">
            <p><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Status: {{crawlService.status}}</p>
            <img style="position: absolute; right: 10px; bottom: 4px;" src="img/{{crawlService.type}}.png" alt="{{crawlService.type}}"/>
            <span style="" ng-if="crawlService.mode == 'insert'" class="glyphicon glyphicon-download" aria-hidden="true"></span>
            <span style="" ng-if="crawlService.mode == 'update'" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </div>
        <div class="bg-success status" ng-if="crawlService.status == 'Running'"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Status: {{crawlService.status}}
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{getExp(crawlService.startDate)}}
            <img style="position: absolute; right: 10px; bottom: 4px;" src="img/{{crawlService.type}}.png" alt="{{crawlService.type}}"/>
            <span style="" ng-if="crawlService.mode == 'insert'" class="glyphicon glyphicon-download" aria-hidden="true"></span>
            <span style="" ng-if="crawlService.mode == 'update'" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </div>
        <div class="bg-warning status" ng-if="crawlService.status == 'Paused'">
            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Status: {{crawlService.status}}
            <img style="position: absolute; right: 10px; bottom: 4px;" src="img/{{crawlService.type}}.png" alt="{{crawlService.type}}"/>
            <span style="" ng-if="crawlService.mode == 'insert'" class="glyphicon glyphicon-download" aria-hidden="true"></span>
            <span style="" ng-if="crawlService.mode == 'update'" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </div>           
        <p style="position: absolute; bottom: 0px; right:0px;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{crawlService.startDate | date:'yyyy.MM.dd HH:mm:ss'}}</p>  
        <div style="margin-top:10px;" class="bg-info status" ng-if="crawlService.type != 'instagram' && crawlService.type != 'periscope' && crawlService.mode != 'update'"><span>{{crawlService.coordinates}}</span></div>     
        <div style="margin-top:10px;" class="bg-info status"><span>Added video: {{crawlService.newVideoByThis}} | Deleted video: {{crawlService.deletedVideoByThis}} | Updated count: {{crawlService.updateVideoByThis}}</span></div>     
        </div>        
        <div class="row logwindow" style=" height: 300px; overflow: auto; border-top: 2px solid purple; padding-top:10px;">
            <div class="col-md-12" ng-repeat="logs in crawlServices.logList" >
                <p ng-repeat="log in logs" ng-if="log.id==crawlService.id && log.message!=''">{{log.timestamp  | date:'yyyy-MM-dd HH:mm:ss'}} - {{log.message}}</p>
            </div>
        </div>
    </div>
</div>
