<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="setStaticDataAsyncAsJSON()">              
            <div class="form-group">
                <label for="borderOfLifetime" class="col-sm-2 control-label">Lifetime</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="borderOfLifetime" ng-init="settings.borderOfLifetime" ng-model="settings.borderOfLifetime" placeholder="">
                </div>            
                <label for="twitterLong" class="col-sm-2 control-label">Twitter live long time</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="twitterLong" ng-init="settings.twitterLong" ng-model="settings.twitterLong" placeholder="">
                </div>            
            </div>
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Set static data</button></div>           
        </form>        
    </div>
</div>