<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>
<body>
    <h2 th:text="${message}"></h2>
    <a href="#" th:href="${confirmLink}">Erősítsd meg a regisztrációdat</a>
</body>
</html>