*{    
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
body{
    background: #555;
    color:#fff;
}
.row{
    margin:0px !important;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.info{
    height: 400px;
    position: relative;
    margin-bottom: 10px;
    position: relative;
}
.kill{
    height: 200px !important;
}
div.status{
    padding: 10px;
    color:#000 !important;
    position: relative;
}
.statusLine{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nmp > span.col-md-4{
    margin:0px !important;
    padding:0px !important;
}
/*
 * Card component
 */
.card {
    background-color: #333;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color:#fff;
}
.cardCrawl{
    background-color: #333;
    /* just in case there no content*/
    padding: 0 0 15px 0; 
    color:#fff;
    border:5px solid #555;
}

.profile-img-card {
    width: 122px;
    height: 68px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 5px;
    min-height: 1em;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px !important;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
}
.infowindow{
    width:100%; 
    height: 400px; 
}
.logwindow{ 
    overflow: auto;
}
.logwindow::-webkit-scrollbar {
    width: 12px;
}
 
.logwindow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    border-radius: 0px;
    margin-top: 5px;
}
 
.logwindow::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(128,0,128,1); 
    margin-top: 5px;
}