<!DOCTYPE html>
<html ng-app="crawlerApp">
    <head>
        <title>Crawler Containers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/ng-stomp.standalone.min.js"></script>
        <script src="js/Chart.min.js"></script>
        <script src="js/angular-chart.min.js"></script>
        <script src="js/core.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="margin: 0px !important; padding: 0px !important">     
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#!/">Crawler service maintance</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#!/">Running services</a></li>
                            <li><a href="#!/new_service">New service</a></li>
                            <li><a href="#!/killed_service">Killed service</a></li>
                            <li><a href="#!/aggregation">Aggregation</a></li>
                            <li><a href="#!/new_aggregation">New aggregation</a></li>
                            <li><a href="#!/settings">Settings</a></li>
                        </ul>
                        <p ng-controller="headerController" class="navbar-text navbar-right"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{userToken.email}}</p>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div ng-view>
            </div>
        </div>
    </body>
</html>
