<div class="col-lg-2 col-md-3 col-sm-2 hidden-xs margT30">
<data-ng-include src="'sites/history.html'" />
</div>
<div class="col-lg-10 col-md-9 col-sm-10 col-xs-12 aboutus otherScroll margT30" style="height: calc(100vh - 200px) !important; overflow: auto">
<div class="row ">
    <div class="col-md-10 col-xs-12 col-xs-offset-0 col-md-offset-1">
        <h1>ANGL.TV Worldview - Here & Now</h1>
        <p>Be part of the live stream revolution</p>
        <p>Access the top rated social media live streams from all around the world on one site. The innovative and award-winning Hungarian team has focused on live streams for 10 years and this spring the unique ANGL.TV will be introduced. Our interface is the newest and most fun way of keeping up with the best stories across the web. </p>
        <h2>Our mission</h2>
        <p>For those Adventurers living in the Information age: our advanced homepage collects live stories and classifies them by events, tagged people and geographic locations to provide you the most easily searchable system available. ANGL.TV is the ANGL app’s advanced and developed webpage version - you can see live videos from popular social media platforms like Facebook, Instagram, Twitter and Periscope on one site. The ANGL app’s founders did not rest  - they have been eagerly improving and are ready to launch ANGL.TV with the knowledge collected during the years the ANGL app has been active. </p>
        <h2>What kinds of benefits do we offer?</h2>
        <h3>Time-saver system: We all know time is the most important value</h3>
        <p>The renewed ANGL is very smart-and-special: our Artificial Intelligence system memorizes your interests and offers you the most exciting live streams in a non-invasive yet personalized way. Using ANGL.TV worldview you can participate the coolest event and save time at the same time. Amazing, right?!</p>
        <h3>The fastest news flow: Know the best stories before everyone else</h3>
        <p>Missing out on the most significant events? With ANGL.TV worldview no way! </p>
        <p>Get everything in one place and enjoy the personalized stream flow. </p>
        <p>Would you like to participate in Carnival in Rio de Janeiro, in the New York Fashion Week, and or would you to sneak a peek at the hottest new series and get behind the scenes with the most authentic sources? We have good news for you - from now you can do it!</p>
        <h3>Worldwide experience: You can be wherever, whenever and you can know whatever you want to</h3>
        <p>With ANGL.TV You can attend the most notable events in the world in real time and experience them with the local video creators and live streams so you can experience the stories - whether from a coffee house sipping a latte macchiato or from the comfort of your bed. Be wherever in the world, whenever you want with the ANGL.TV website.</p>
    </div>

</div>

<div class="row">
    <div class="col-md-8  col-xs-12 col-xs-offset-0 col-md-offset-2">
        <h2>Test the ANGL.TV Worldview experience!</h2>
        <p>We live in the future - this is why we are working on this innovative website.  If you are eager to experience  this platform before we make it public - REGISTER and you can take an exclusive look at ANGL.TV. Once you’ve registered, we will send you a link with which you can access the site.</p>

        <h2>In togetherness, castles are built</h2>
        <p>WWe will launch a crowdfunding campaign on Indiegogo April 2018 - because together we win! We aim is to raise funds to maintain and develop further ANGL.TV worldview’s system with the feature-set you want. Your name will become a part of ANGL.TV and we’ll reward your support with premium features and more!</p>
    </div>
</div>
</div>