  <div data-ng-if="busy"><div id="loaderContainer2"><div class="loader2"></div></div></div>
<div id="videoDetails" >

    <div class="row">

        <div class="col-md-9"> 
            <div class="row">
                <div class="col-md-12"> 
                    <div class="playerTitle"><p>{{video.title}}</p></div>
                    <div class="clearer"></div>
                    <div class="videoHolder">
                        <video crossOrigin="anonymous" id="{{videoPlayerId}}"   class="video-js vjs-default-skin" controls poster="{{video.defaultthumbnailurl}}" >
                        </video>
                    </div>
                </div>
                <div class="row detailsRow ">
                    
                    <div class="col-md-4 userField">
                        <p><span>by </span>{{video.username}}</p>
                    </div>
                    <div class="col-md-8 stats">
                        <div class="">
                            <div data-ng-controller="echoController">
                                <div data-ng-repeat="echo in echos">
                                <img style="cursor: pointer;" data-ng-click="addEcho(video, echo)" src="{{echo.img}}" alt="Echo" title="Echo" class="margR5"/>
                                </div>
                            </div>
                            <span class="truncated">{{video.echoCount}}</span>
                        </div>
                <div class=""><img src="images/Seen_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{video.watched + video.localwatched}}</span></div>        
                <div class=""><img src="images/Comment_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{commentFactory.items.length}}</span></div>
                    </div>
                </div>
                 <div class="row padL30 detailsRow ">
                    
                    <div class="col-md-12 underlined ">
                        <p><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> {{video.location}}</span></p>
                        
                        <div class="videoPublisherHolder"><img src="images/{{video.providertype}}.png" class="smallFbIcon" alt="{{video.providertype}}" Title="{{video.providertype}}" /></div>
                          <p class="videoTitle" data-ng-if="video.live"><img src="images/Live_Icon.png" alt="Live" title="live" /></p>
                    <p class="videoTitle" data-ng-if="!video.live"></p>
                    </div>
                    
                </div>
                 <div class="row padL30 detailsRow ">
                    
                    <div class="col-md-12  videoDetailsText ">
                        <p>{{video.title}}</p>
                    </div>
                    
                </div>
                <div ng-if="userToken">
                    <h2 class="margT30">Comments</h2>
                    <div data-ng-controller="commentController">
                      <div class="row padL30 detailsRow commentModule ">
                        <div class="col-md-12  videoDetailsText " >
                            <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="addComment(video)">
                                <textarea data-ng-model="textareaData" placeholder="message" class="form-control ng-pristine ng-valid" name="message" > </textarea>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                      </div>
                    </div>
                    <div id="wave" data-ng-if="commentFactory.busy">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div data-ng-repeat="comment in video.comments">
                        <div class="row padL30 detailsRow commentModuleText">
                            <div class="col-md-12 commentModuleUser margT30">
                                <p><span>by </span>{{comment.userName}}</p>
                            </div>
                            <div class="col-md-12 upperLined commentModuleUserComment margT30">
                                <p>{{comment.text}}</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <data-ng-include src="'sites/recommended.html'" />

        </div>
    </div>
</div>

<div otc-scripts scripts="scripts"></div>

