

<div class="row ">
    <div class="col-md-2 hidden-sm hidden-xs leftHeaderArea"  >
        <img src="images/History_Icon.png" class="" alt="ANGL WordView History" title="ANGL WordView History" id="historyImg"  /> 
    </div>
    <div class="col-md-10 col-xs-12 floatRight" >
        
        <a href="" ><img src="images/logo.png" class="logoAngl"/></a>
           <div class="navbar navbar-inverse navbar-right" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
        </div>
        <div collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse">
             <ul class="nav navbar-nav navbar-right" data-ng-controller="menuController">
                            <li class="margR20 mapView">
                                <a href="#!/mapview" title="Map View" >
                             
                              Map View
                                </a>
                            </li>
                            <li class="margR20 listView">
                                <a href="#!/" title="List View">
                             Streams
                                </a>
                            </li>
                            <li class="margR20 spaceView">
                                <a href="#!/spaces" title="Space View">
                             Spaces
                                </a>
                            </li>
                              <li class="margR20 topliveView">
                                <a href="#!/top100live" title="top 100 video">
                                Top 100
                                </a>
                            </li>
                             <li class="margR20 aboutView">
                                <a href="#!/about" title="about ANGL WordView">
                                About Us
                                </a>
                            </li>
                         
                            
                            <li data-ng-if="!userToken" class="userView"><a href="#!/signup">New User / </a></li>
                            <li data-ng-if="userToken" class="userView"><a href="#!/profile">My Profile / </a></li>
                            <li data-ng-if="!userToken" ><a href="#!/login">Login</a></li>
                            <li data-ng-if="userToken" ><a data-ng-click="logout()">Logout</a></li>

                        </ul>
         
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
    </div>

</div> 