<h2 >History</h2>
<div class="row historyGrid margT30 " style="height: calc(100vh - 250px) !important; overflow: auto" data-ng-controller="historyController">
       <div class="VideoElement col-xs-12 margT50" data-ng-repeat="video in videos | limitTo:5" data-ng-if="video.providerType != 'periscope'">

        <div class="row ">
            <div class=" videoContainer"  data-ng-if="video.live" data-background-image-directive="{{video}}" style=' webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                <div id="heart" data-ng-if="video.watched>5000"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                <div id="wave" data-ng-if="video.watched<200">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>-->

               <div class="helper">
                   <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>
                </div>

                <div class="videoTitleText">{{video.title}}</div>

            </div>
            <div class=" videoContainer"  data-ng-if="!video.live" data-background-image-directive="{{video}}" style='box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
             <div id="heart" data-ng-if="video.watched>5000"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                   <!--<div id="wave" data-ng-if="video.watched<200">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>-->

                <div class="helper">
                   <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>
                </div>
                <div class="videoTitleText">{{video.title}}</div>
            </div>
        </div>
    </div>
</div>