<div class="col-lg-2 col-md-3 hidden-sm hidden-xs  history margT10">
    <data-ng-include src="'sites/history.html'" />
</div>
<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 videoGrid scrollable margT30">
    <div class="row autoFeed">
        <div class="col-lg-3 ">
            <h1 >Streams</h1>

        </div>

        <div id="statistic" class="col-lg-3  hidden-md hidden-xs stat">
            <div class="row">
                
                <div id="stat" data-ng-repeat="stat in stats" class="col-lg-3">
                    <img src="images/{{stat.key}}.png" />
                    {{stat.value}}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-9 text-right switchButton">
            <!-- <button data-ng-click="autoFeed(feed)">{{feed.label}}</button>-->
            <div class="feedLabel"> Turn {{feed.label}}</div>
            <label class="switch">

                <input data-ng-if="!feed.feedValue" class="sliderButton" type="checkbox"  data-ng-click="autoFeed(feed)" >
                <input data-ng-if="feed.feedValue" class="sliderButton" type="checkbox"  data-ng-click="autoFeed(feed)" checked>
                <span class="slider round"></span>
            </label>

        </div>
    </div>

    <!--<div id="videos" class="row margT30" data-infinite-scroll='videos.nextPage()' data-infinite-scroll-disabled='videos.busy' data-infinite-scroll-distance='0'>-->
    <div id="videos" class="row margT30" elem-ready=""  when-scrolled-down='nextPage()' when-scrolled-up='newPage()' style="height: calc(100vh - 290px) !important; overflow: auto"
         ng-mouse-wheel-up="stopFeed()" ng-mouse-wheel-down="stopFeed()">
        <div data-ng-if="!videos.feed"><div data-ng-if="videos.busy"><div id="loaderContainer"><div class="loader"></div></div></div></div>
        <div class="VideoElement col-lg-15 col-md-4 col-sm-12 col-xs-12 margT50" data-ng-repeat="video in videos.items">

            <div class="row topLayer">
                <div class="col-md-12">
                    <div class="row videoDetails">
                        <div class="col-md-8"> <span class="videoTitleUser"><span>by </span>{{video.username}}</span></div>
                        <div class="col-md-4 videoDateHolder"><span class="videoTitleDate">{{video.publishdate | date: 'HH:mm'}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-md-10" data-ng-if="video.location"><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> {{video.location}}</span></div>
                        <div class="col-md-10" data-ng-if="!video.location"><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> Unknown</span></div>
                        <div class="col-md-2 videoPublisherHolder" ><img src="images/{{video.providertype}}.png" class="smallFbIcon" alt="{{video.providertype}}" Title="{{video.providertype}}" /></div>

                    </div>



                </div>
            </div>
            <div class="row ">
                <div class=" videoContainer"  data-ng-if="video.live" data-background-image-directive="{{video}}" style=' -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                    <div id="heart" data-ng-if="video.watched>5000"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                    <!--<div id="wave" data-ng-if="video.watched<200">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>-->

                    <div class="helper">
                        <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>

                    </div>
                    <div class="videoTitleText">{{video.title}}</div>
                </div>

                <div class=" videoContainer"  data-ng-if="!video.live" data-background-image-directive="{{video}}" style='box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                    <div id="heart" data-ng-if="video.watched>5000"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                    <!--<div id="wave" data-ng-if="video.watched<200">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>-->

                    <div class="helper">
                        <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>

                    </div>
                    <div class="videoTitleText">{{video.title}}</div>
                </div>
            </div>
            <div class="row bottomLayer margT10">
                <div class="col-lg-2 col-md-12">
                    <p class="videoTitle" data-ng-if="video.live"><img src="images/Live_Icon.png" alt="Live" title="live" /></p>
                    <p class="videoTitle" data-ng-if="!video.live"><img src="images/noLive_Icon.png" alt="Recorded" title="Recorded" /></p>
                </div>

                <div class="col-lg-3 col-md-4  text-right"><img src="images/Echo_Icon.png" alt="Echo" title="Echo" class="margR5"/><span class="truncated">{{modifyValue(video.echoCount)}}</span></div>
                <div class="col-lg-4  col-md-4  text-right"><img src="images/Seen_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{modifyWatchedValue(video.watched , video.localwatched) }}</span></div>        
                <div class="col-lg-3 col-md-4  text-right"><img src="images/Comment_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{modifyValue(video.commentCount)}}</span></div>



            </div>
        </div>
    </div>

</div>