<div class="col-lg-2 hidden-xs history margT30">
                    <data-ng-include src="'sites/history.html'" />
                </div>
                <div class="col-lg-10 col-xs-12 videoGrid scrollable">
<h1>Login and Terms of usage</h1>
<div class="row margT30">
    <div class="col-md-10 md-offset-1"  >
        <p class="textP">Curabitur ultrices condimentum condimentum. Pellentesque vel elit et augue viverra bibendum hendrerit convallis leo. Nulla facilisi. Quisque laoreet pretium ante, sed dictum nisl vulputate non. Aenean vitae turpis augue. Vivamus in sagittis orci, sit amet fermentum est. Morbi auctor et felis at semper. Etiam finibus orci vitae lorem porta finibus. Vestibulum et lacus non tortor vulputate sodales non nec metus. Aliquam odio dui, blandit nec erat at, tempor pretium tortor. Sed quam lacus, porttitor a diam a, blandit maximus libero. Mauris massa magna, tempor nec mi vitae, molestie accumsan velit. Pellentesque a facilisis lectus. Nunc in augue nisi. In in nisi et lorem varius vehicula a a nunc.</p>
    </div>
</div>
<div class="row contentContainer">
    <div class="col-md-12 formContainer"  >
        <form class="form-horizontal data-ng-pristine ng-valid" role="form" data-ng-submit="loginAsyncAsJSON()" >
            <div class="row form-group">
                <label class="col-md-4 control-label ">Login: </label>
                <div class="col-md-4 col-md-offset-right-4">
                    <input type="text" class="form-control ng-pristine ng-valid" name="name" data-ng-model="loginname">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label ">Password</label>
                <div class="col-md-4 col-md-offset-right-4">
                    <input type="password" class="form-control ng-pristine ng-valid" name="password" data-ng-model="password">
                </div>
            </div>            
            <div class=" row form-group">	
                <div class="col-md-4 control-label "></div>
                <div class="col-md-4 col-md-offset-right-4">
                    <input type="submit" value="LogIn" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row otherMethods">
  <!--  <div class="col-md-12 col-md-offset-2"><img src="images/sign-in-with-google.png" title="Google log in"/><img src="images/signin-facebook-large.png" title="Facebook log in"/></div>-->
</div>
<h2>Terms of usage</h2>
<div class="row margT30">
    <div class="col-md-10 md-offset-1"  >
        <p class="textP">Curabitur ultrices condimentum condimentum. Pellentesque vel elit et augue viverra bibendum hendrerit convallis leo. Nulla facilisi. Quisque laoreet pretium ante, sed dictum nisl vulputate non. Aenean vitae turpis augue. Vivamus in sagittis orci, sit amet fermentum est. Morbi auctor et felis at semper. Etiam finibus orci vitae lorem porta finibus. Vestibulum et lacus non tortor vulputate sodales non nec metus. Aliquam odio dui, blandit nec erat at, tempor pretium tortor. Sed quam lacus, porttitor a diam a, blandit maximus libero. Mauris massa magna, tempor nec mi vitae, molestie accumsan velit. Pellentesque a facilisis lectus. Nunc in augue nisi. In in nisi et lorem varius vehicula a a nunc.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 md-offset-1"  >
        <p class="textP">Curabitur ultrices condimentum condimentum. Pellentesque vel elit et augue viverra bibendum hendrerit convallis leo. Nulla facilisi. Quisque laoreet pretium ante, sed dictum nisl vulputate non. Aenean vitae turpis augue. Vivamus in sagittis orci, sit amet fermentum est. Morbi auctor et felis at semper. Etiam finibus orci vitae lorem porta finibus. Vestibulum et lacus non tortor vulputate sodales non nec metus. Aliquam odio dui, blandit nec erat at, tempor pretium tortor. Sed quam lacus, porttitor a diam a, blandit maximus libero. Mauris massa magna, tempor nec mi vitae, molestie accumsan velit. Pellentesque a facilisis lectus. Nunc in augue nisi. In in nisi et lorem varius vehicula a a nunc.</p>
    </div>
</div>
</div>