<div class="col-lg-2 hidden-xs history margT30">
    <data-ng-include src="'sites/history.html'" />
</div>
<div class="col-lg-10 col-xs-12 videoGrid scrollable margT50">
    <h1>Register Angl Account</h1>
    <div class="row margT30">
        <div class="col-md-10 md-offset-1"  >
            <p class="textP">Join ANGL.TV Worldview and be part of the live stream revolution.
</p>
        </div>
    </div>
    <div class="row">
        
        <div data-ng-if="fasza"><div id="loaderContainer"><div class="loader"></div></div></div>
        <div class="col-md-6" style="margin-left: 25% !important;">
            <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="signUpAsyncAsJSON()">
                <div class="form-group">
                    <label class="col-md-4 control-label">Bejelentkezési név</label>
                    <div class="col-md-4 col-md-offset-right-4">
                        <input type="text" class="form-control ng-pristine ng-valid" name="name" data-ng-model="loginname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Jelszó</label>
                    <div class="col-md-4 col-md-offset-right-4">
                        <input type="password" class="form-control ng-pristine ng-valid" name="password" data-ng-model="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Név</label>
                    <div class="col-md-4 col-md-offset-right-4">
                        <input type="text" class="form-control ng-pristine ng-valid" name="displayname" data-ng-model="displayname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">E-mail cím</label>
                    <div class="col-md-4 col-md-offset-right-4">
                        <input type="email" class="form-control ng-pristine ng-valid" name="email" data-ng-model="email">
                    </div>
                </div>
                <div class="form-group">								
                    <div class="col-md-4 control-label "></div>
                    <div class="col-md-4 col-md-offset-right-4">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row otherMethods">
      <!--  <div class="col-md-12 col-md-offset-2"><img src="images/sign-in-with-google.png" title="Google log in"/><img src="images/signin-facebook-large.png" title="Facebook log in"/></div>-->
    </div>

</div>