<div class="col-lg-2 col-md-3 hidden-sm hidden-xs  history margT10 fixed">
    <data-ng-include src="'sites/history.html'" />
</div>
<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 videoGrid scrollable margT30">
  
        
            <h1 >Spaces</h1>
      <div id="videos" class="row margT30" elem-ready=""  style="height: calc(100vh - 290px) !important; overflow: auto">
          <div data-ng-if="busy"><div id="loaderContainer"><div class="loader"></div></div></div>
        <div class="VideoElement col-lg-15 col-md-4 col-sm-4 col-xs-12 margT50" data-ng-repeat="space in spaces">
            <div class="row topLayer">
                <div class="col-md-12">
                    <div class="row videoDetails">
                        <div class="col-md-8"> <span class="videoTitleUser">{{space.videoliList.length}} Videó</span></div>
                        <div class="col-md-4 videoDateHolder"><span class="videoTitleDate">{{video.publishdate | date: 'HH:mm'}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-md-10" ><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> {{space.city}}</span></div>
                     
                       <div class="col-md-2 videoPublisherHolder" ></div>

                    </div>



                </div>
            </div>
            <div class="row ">
                <a href="#!/spaces/{{space.id}}">
                <div class=" videoContainer"  data-space-background-image-directive="{{space}}" style=' -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                  
                   

           

                </div>
                </a>
          
            </div>
            <div class="row bottomLayer margT10">
             

                
            </div>
        </div>
    </div>

        
       
</div>