<div class="col-lg-2 col-md-3 col-sm-2 hidden-xs history margT10">
    <data-ng-include src="'sites/history.html'" />
</div>
<div class="col-lg-10 col-md-9 col-sm-10 col-xs-12 videoGrid scrollable margT30">
    <h1>Top 100 Live Videos</h1>

    <!--<div id="videos" class="row margT30" data-infinite-scroll='videos.nextPage()' data-infinite-scroll-disabled='videos.busy' data-infinite-scroll-distance='0'>-->
    <div id="videos" class="row margT30" elem-ready=""  style="height: calc(100vh - 290px) !important; overflow: auto">
        <div data-ng-if="busy"><div id="loaderContainer"><div class="loader"></div></div></div>
        <div class="VideoElement col-lg-15 col-md-4 col-sm-4 col-xs-12 margT50" data-ng-repeat="video in videos">
            <div class="row topLayer">
                <div class="col-md-12">
                    <div class="row videoDetails">
                        <div class="col-md-8"> <span class="videoTitleUser"><span>by </span>{{video.username}}</span></div>
                        <div class="col-md-4 videoDateHolder"><span class="videoTitleDate">{{video.publishdate | date: 'HH:mm'}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-md-10" data-ng-if="video.location"><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> {{video.location}}</span></div>
                        <div class="col-md-10" data-ng-if="!video.location"><span class="videoTitleLocation"><img src="images/Map_Icon.png" class="smallMapIcon" alt="Térkép" Title="Térkép" /> Unknown</span></div>
                       <div class="col-md-2 videoPublisherHolder" ><img src="images/{{video.providertype}}.png" class="smallFbIcon" alt="{{video.providertype}}" Title="{{video.providertype}}" /></div>

                    </div>



                </div>
            </div>
            <div class="row ">
                <div class=" videoContainer"  data-ng-if="video.live" data-background-image-directive="{{video}}" style=' -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                    <div id="heart" data-ng-if="video.watched>5000"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                   

                    <div class="helper">
                        <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>

                    </div>


                    <div class="videoTitleText">{{video.title}}</div>

                </div>
                <div class=" videoContainer"  data-ng-if="!video.live" data-background-image-directive="{{video}}" style='box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'>
                    <div id="heart" data-ng-if="video.watched>200"><img src="images/Echo.png" alt="Echo" title="Echo" /></div>
                    <div id="wave" data-ng-if="video.watched<200">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                    <div class="helper">
                        <a  data-ng-attr-id="{{ 'video_' + video.videoid }}" data-ng-click="showPlayer(video.videoid)"> <img src="images/play.png" class="playIcon"/></a>

                    </div>
                    <div class="videoTitleText">{{video.title}}</div>
                </div>
            </div>
            <div class="row bottomLayer margT10">
                <div class="col-md-3">
                    <p class="videoTitle" data-ng-if="video.live"><img src="images/Live_Icon.png" alt="Live" title="live" /></p>
                    <p class="videoTitle" data-ng-if="!video.live"></p>
                </div>
                <div class="col-md-3 text-right"><img src="images/Echo_Icon.png" alt="Echo" title="Echo" class="margR5"/><span class="truncated">{{modifyValue(video.echoCount)}}</span></div>
                <div class="col-md-3 text-right"><img src="images/Seen_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{modifyWatchedValue(video.watched , video.localwatched) }}</span></div>        
                <div class="col-md-3 text-right"><img src="images/Comment_Icon.png" alt="Seen" title="Seen" class="margR5"/><span class="truncated">{{modifyValue(video.commentCount)}}</span></div>



            </div>
        </div>
    </div>

</div>