/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.01.02., 14:03:56
    Author     : Pálfy Miklós
*/

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "Roboto-Light_0";
    src: url("../fonts/Roboto-Light_0.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "RobotoCondensed-BoldItalic";
    src: url("../fonts/RobotoCondensed-BoldItalic.ttf");
}

@font-face {
    font-family: "RobotoCondensed-Italic";
    src: url("../fonts/RobotoCondensed-Italic.ttf");
}

@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("../fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "MuseoSans-700";
    src: url("../fonts/MuseoSans-700.otf");
}
@font-face {
    font-family: "MuseoSans-500";
    src: url("../fonts/MuseoSans-500.otf");
}
@font-face {
    font-family: "MuseoSans-300";
    src: url("../fonts/MuseoSans-300.otf");
}
@font-face {
    font-family: "MuseoSans-700";
    src: url("../fonts/MuseoSans-700.otf");
}
html{

}
body{
    font-family: "MuseoSans-700" !important;
    background-color: #100d0d !important;
    color:#5c5656;


}
#loaderContainer{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}
.loader {
    border: 16px solid #5c5656;
    border-radius: 50%;
    border-top: 16px solid #ed1c24;

    border-bottom: 16px solid #ed1c24;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left:calc(50% - 60px);
    top:calc(50% - 60px);
}
#loaderContainer2{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}
.loader2 {
    border: 16px solid #5c5656;
    border-radius: 50%;
    border-top: 16px solid #ed1c24;

    border-bottom: 16px solid #ed1c24;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left:calc(25% - 60px);
    top:calc(50% - 60px);
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.row{
    margin:0px !important;
    padding:0px!important;
}
*{
    margin:0px !important;
    padding:0px!important;
}
h1,h2{
    font-family: "Roboto-Regular" !important;
    color:#fff;
    font-size:36px;
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 20px !important;
    position: relative;

}
h2{
    margin-left: 0px !important;
    margin-left: 20px !important;
}



h1:before{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: -10px;
    left: 0%;

    border-bottom: 2px solid red;
}

h2:before{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: -10px;
    left: 0%;

    border-bottom: 2px solid red;
}
/*******************************Header*****************************************/
header{
    background: #000;
    height: 120px;
    border-bottom: solid 1px #5c5656;
    padding-bottom: 15px !important;

}
.leftHeaderArea{
    display: block;
    height: 100%;
    height: 100px;

}
.leftHeaderArea img{
    margin-left: 20px !important;
    margin-top:35px !important;

}
.linkImg{
    height:40px! important;
    text-align: center !important;
}
.linkText{
    height:40px! important;
}

.navbar-brand span:nth-child(3n-3){
    color:#00a4e4;

}
.navbar-nav{
    margin-right: 10px !important;
    margin-top: 40px !important;
}

.navbar-brand span:nth-child(3n-1){
    font-family: "Roboto-Regular" !important;
    color:#006aa3;
}

.navbar-nav li a{

    font-size: 18px !important;
    font-family: "Roboto-Regular" !important;
    color:#fff !important;
    margin: 0px !important;

    line-height: 35px;
    vertical-align: middle;
    margin-right: 10px !important;
    color: #5c5656 !important;

}
.navbar-nav li a:hover{
    color: #fff !important;
}
.sep{
    padding-left: 10px!important;
}
.navbar-nav span{
    color:#006aa3;
}
.navbar-brand span:nth-child(3n-2){
    color:#006aa3;
}
.navbar{
    background: none!important;
    border:none !important;
}
.navbar a{

    border:none !important;
}
.active{

}
.logoAngl{
    margin-left:20px !important;
    margin-top: 20px !important;
}

.mapView{
    background-image: url(../images/Map_Icon.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px !important;
}
.mapView:hover{
    background-image: url(../images/Map_Icon_W.png) !important;
}
.spaceView{
    background-image: url(../images/Spaces_Icon.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px !important;
}
.spaceView:hover{
    background-image: url(../images/Spaces_Icon_W.png) !important;
}
.listView{
    background-image: url(../images/Streams_Icon.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px !important;
}
.listView:hover{
    background-image: url(../images/Streams_Icon_W.png) !important;
}
.topliveView{
    background-image: url(../images/top100.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px !important;
}
.topliveView:hover{
    background-image: url(../images/top100_W.png) !important;
}
.aboutView{
    background-image: url(../images/about-2.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px !important;
}
.aboutView:hover{
    background-image: url(../images/about-2_W.png) !important;
}
.userView{
    background-image: url(../images/Sign_In_Icon.png) !important;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 35px !important;
}
.userView:hover{
    background-image: url(../images/Sign_In_Icon_W.png) !important;
}
.scrollable{
    float:right;
}
.scrollable2{
     overflow:auto;
}
/*********************VideoField*****************/
.VideoElement{
    padding-right: 20px !important;
    padding-left: 20px !important;

}
.videoContainer{

    white-space: nowrap;
    text-align: center;
    width:100% !important;
    padding-top:100% !important;
    position: relative !important;


}

.videoContainer:hover .helper{
    display:block;
}
.videoContainer:hover {
    box-shadow:inset 0 0 0 1000px rgba(0,0,0,.3);
}
.videoContainer .helper {
    display:none;
    position: absolute;
    width:100%;


    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.videoContainer img {
    margin-top: calc(100% - 50% - 25px) !important ;
    margin-top:-moz-calc(100% - 50% - 25px) !important;
    margin-top:-o-calc(100% - 50% - 25px) !important;
    margin-top:-webkit-calc(100% - 50% - 25px) !important;
    margin-left: auto !important;
    margin-right: auto !important;

}
.videoContainer img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bottomLayer{


    width:100%;
    border-bottom: 1px solid #5c5656;
    padding-bottom: 10px !important;
}
.topLayer{
    margin-bottom:15px !important; 

}


.videoContainer .playIcon{
    width:50px;
    height: 50px;
}
.videoDetails span{
    display: inline ;
    font-size: 16px;
    width:100% !important;
    line-height: 25px;
    vertical-align: middle;


}
.videoTitleUser{
    display: inline ;
    font-family: "MuseoSans-700" !important;
    color: #ed1c24 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    float: left;
    padding-left:10px !important;

}
.videoTitleText{
    position:absolute;
    left:0;
    bottom:0;
    color:#fff;
    width:100%;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis !important;
    font-size:20px;
    font-family: "Roboto-Regular" !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom:10px !important;
}
.videoTitleLocation{
    color: #5c5656 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    float: left;
    width:100%;
}
.videoDateHolder, .videoPublisherHolder{
    text-align: right;
}
.videoTitleDate{
    line-height: 26px;
    font-family: "MuseoSans-500" !important;
    font-size:14px !important;
    vertical-align: middle;

}
.videoDetails span span{
    color: #5c5656 !important;
}
.smallMapIcon{
    height: 20px !important;
}
.truncated{
    display: inline;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

}
.stats{
    text-align:right;

}
.stats div{
    display:inline-block;
}
.userField{
    padding-left:30px !important;
}
.userField p{
    font-family: "MuseoSans-700" !important;
    color: #ed1c24 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    float: left;
}
.userField p span{
    color:#5c5656;
}
.detailsRow{
    font-size: 18px;
    margin-top:10px;

}
.underlined{
    border-bottom: solid 1px #5c5656;
    padding-bottom:10px !important;

}
.upperLined{
    border-top: solid 1px #5c5656;
    padding-bottom:10px !important;

}
.videoDetailsText{
    margin-top:15px !important;
}
.commentModule{
    margin-top:40px !important;
}
.commentModule textarea{
    width: 80% !important;
    resize: none;
    min-height: 40px;
    background-color: #1d1a1a;
    border: solid 1px #5c5656;
    border-radius:10px;
    margin-right: 30px !important;
    padding-left:15px!important;
    padding-top:5px!important;
}
.commentModule button{
    border: none;
    margin-top:5px !important;
    height:40px;
    width: 105px;
    color:  #5c5656;
    outline: none;
    background-color: #fff;
    border: solid 1px #5c5656;
    border-radius:10px;
}
.commentModule button:hover{
    color:  #fff !important;
    background-color: #ed1c24 !important;
    outline: none;
    box-shadow: 0 0 5px rgba(237, 28, 36, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(237, 28, 36, 1);
}
.commentModule button:focus{
    border: none;

    color:  #5c5656;
    outline: none;
    background-color: #fff;
}

.commentModuleUser{
    padding-left:0px !important;
}
.commentModuleUser p{
    font-family: "MuseoSans-700" !important;
    color: #ed1c24 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    float: left;
    line-height: 30px;
}
.commentModuleUser  span{
    color: #5c5656 !important;
}
.commentModuleCommentUser{
    width:100%;
    color: #5c5656 !important;

}
.commentModuleCommentUser p{
    width:100%;
    color: #5c5656 !important;
    text-align: justify !important;
    padding-top:20px !important;
}
/**************************history*****************/
.history{
    /* padding-right:90px !important;
     margin-left: 30px !important;*/


}
.historyGrid{
    overflow:auto;
}
/***********************segédelemek*********************/

.margR20{
    margin-right:20px !important;
}
.margT10{
    margin-top:10px !important;
}
.margT20{
    margin-top:20px !important;
}
.margT30{
    margin-top:30px !important;
}
.margT60{
    margin-top:60px !important;
}
.margT50{
    margin-top:50px !important;
}
.margL30{
    margin-left:30px !important;
}
.margB10{
    margin-bottom:10px !important;
}
.margR5{
    margin-right:5px !important;
}
.padL30{
    padding-left:30px !important;
}
.fixed{
    position:fixed !important;
    float:left;
}
.floatRight{
    float: right;
}
.floatLeft{
    float: left;
}
.clearer{
    clear:both!important;
}

/********************************Scrollbar*****************/
#videos::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #5c5656;
}

#videos::-webkit-scrollbar
{
    width: 6px;
    background-color: #5c5656;
}

#videos::-webkit-scrollbar-thumb
{
    background-color: #ed1c24;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}
.modal::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #5c5656;
}

.modal::-webkit-scrollbar
{
    width: 6px;
    background-color: #5c5656;
}

.modal::-webkit-scrollbar-thumb
{
    background-color: #ed1c24;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}
.modal::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #5c5656;
}

.modal::-webkit-scrollbar
{
    width: 6px;
    background-color: #5c5656;
}

.modal::-webkit-scrollbar-thumb
{
    background-color: #ed1c24;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}

.historyGrid::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #5c5656;
}

.historyGrid::-webkit-scrollbar
{
    width: 6px;
    background-color: #5c5656;
}

.historyGrid::-webkit-scrollbar-thumb
{
    background-color: #ed1c24;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}
.otherScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #5c5656;
}

.otherScroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #5c5656;
}

.otherScroll::-webkit-scrollbar-thumb
{
    background-color: #ed1c24;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}
/************************************modal dialog**********/
.videoDetails{

}
.modal-dialog{
    margin: auto !important;
    margin-top:50px !important;
    width: 66% !important;


}
.modal-content{
    background-color: #1d1a1a !important;
    border-radius: 25px;
    border: 2px solid #1d1a1a;

}
.playerTitle{

    font-size:24px;
    line-height: 30px; 
    vertical-align: middle;
    margin-top:15px !important;
    margin-right: 30px !important;
    margin-left:30px !important;

}
.playerTitle p{
    float:left;
    display:inline;
    width:100% !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: #fff;
    margin-bottom:15px !important;
    font-family: "Roboto-Regular";
}
.videoHolder{
    margin-left:30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
}
/****************************Hearthbeat/jumping dots Animation**************/

#heart {
    position: absolute;
    top:15px;
    left:5px;

    animation: heartbeat 1s infinite;


}
@keyframes heartbeat
{
    0%
    {
        transform: scale( .75 );
    }
    20%
    {
        transform: scale( 1 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1 );
    }
    80%
    {
        transform: scale( .75 );
    }
    100%
    {
        transform: scale( .75 );
    }
}
div#wave {
    position:absolute;
    top:15px;
    left:5px;
    text-align:center;
    width:50px;
    height:50px;


}
.dot {
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    margin-right:3px;
    background:#fff;
    animation: wave 1.3s linear infinite;


}
.dot:nth-child(2) {
    animation-delay: -1.1s;
}

.dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: scale( .8 );
    }

    30% {
        transform: translateY(-15px);

    }
}
.map{
    width:100%;
    height:calc(100vh - 150px);
    background-color: black;

}
.mapContainer{
    padding-right: 15px !important;
}
#boxcontent{
    width:150px;
    height:170px;
    background-color: #1d1a1a;
    -webkit-box-shadow: 10px 18px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 18px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 5px 0px rgba(0,0,0,0.75);
}

.gm-style-iw {
    /*    background-color: #1d1a1a;
        top: 0;
       left: 0;*/

}
.custom-iw .gm-style-iw {
    top:15px !important;
    left:0 !important;
    border-radius:2px;
}
.custom-iw>div:first-child>div:nth-child(2) {
    display:none;
}
.custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    width:100% !important;
    max-width:100% !important;
}
/** set here the width **/
.custom-iw, .custom-iw>div:first-child>div:last-child {
    width:280px !important;
}
.custom-iw>div:first-child>div:last-child {
    left:0 !important;
    top:0px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
    z-index:-1 !important;
}
/** set here the desired background-color **/
#div-main-infoWindow, .custom-iw>div:first-child>div:nth-child(n-1)>div>div, .custom-iw>div>div:last-child, .custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    background-color: #1d1a1a !important;
}
/** close-button **/
.custom-iw>div:last-child {
    top:1px !important;
    right:0 !important;
}
/** padding of the content **/
#div-main-infoWindow {
    padding:15px !important;

}

.trimmed{
    width: 100%;
    display: inline ;
    font-family: "MuseoSans-700" !important;
    color: #ed1c24 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    float: left;
    padding-left:10px !important;
}

/*************************Forms*********************/
.formContainer{
    width:100%;
    margin:auto;
    overflow: hidden;
}
.form-group{
    text-align: center;
    margin-top: 30px !important;

}
label{
    line-height: 40px;
    padding-right: 20px !important;
}
input[type=text], input[type=password], input[type=email] {
    border: solid 1px  #5c5656;
    background-color: #000;
    height: 40px;
    padding-left: 20px;
    color: #5c5656;
    outline: none;
    padding-left: 10px;
}
input[type=text]:focus, textarea:focus , input[type=password]:focus,input[type=email]:focus {
    box-shadow: 0 0 5px rgba(237, 28, 36, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(237, 28, 36, 1);
}
.textP{
    margin-top:15px !important;
    margin-left: 20px !important;
    text-align: justify;
}

input[type=submit]{
    border: none;
    height:40px;
    width: 150px;
    color:  #5c5656;
    outline: none;
    background-color: #fff;

}
input[type=submit]:hover{
    color:  #fff !important;
    background-color: #ed1c24 !important;
    outline: none;
    box-shadow: 0 0 5px rgba(237, 28, 36, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(237, 28, 36, 1);
}
input[type=submit]:focus{
    border: none;
    height:40px;
    width: 150px;
    color:  #5c5656;
    outline: none;
    background-color: #fff;
}
.otherMethods{
    text-align: center;
    margin-top:30px !important;
}
.otherMethods img{
    height: 40px;
    margin-left:30px !important;
} 
/***********************Footer************************/
footer{
    background-color: #0b0909;
    height:100px;
}


/*****************************reszponzív formázás */
@media screen and (max-width: 1300px) {
    h1,h2{
        font-size:30px;
    }
    .modal-dialog{

        width: 80% !important;


    }
}
/*****************************reszponzív formázás */
@media screen and (max-width: 1100px) {

    .mapView,  .listView,  .topliveView,  .aboutView, .userView, .spaceView{
        background: none !important;
        padding-left: 0px !important;
    }
    .mapView:hover,  .listView:hover,  .topliveView:hover,  .aboutView:hover, .userView:hover,.spaceView:hover{
        background: none !important
    }
    
}

/*****************************reszponzív formázás */
@media screen and (max-width: 850px) {

    .mapView,  .listView,  .topliveView,  .aboutView, .spaceView{
        margin-right:10px !important;
        
    }
   
}



.aboutus h3{
    margin-left: 20px !important;
    margin-top: 40px !important;
}
.aboutus p{
    margin-left: 20px !important;
    margin-top: 20px !important;
    text-align: justify;
}
.aboutus h1,h2{
    margin-top: 20px !important;
}

/*******************toggle switch*******************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5c5656;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ed1c24 ;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ed1c24 ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.autoFeed{

    
}
.switchButton{
    padding-right: 50px !important;
}
.feedLabel{
    line-height: 25px !important;
}
.navbar-header{
    padding-right:30px !important;
  
}
.icon-bar{
    margin-bottom:5px !important; 
   
}

/*****************************stat title************/
.stat{
    display:inline-block !important;
    line-height: 30px !important;
    vertical-align: middle;
}