.video-js {
    position: relative !important;
    width: 100% !important;
    min-height: calc(100vh - 500px) !important;
}
.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.vjs-control-bar {background: rgba(16,13,13,.8) !important;} 
#videoDetails .vjs-big-play-button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/play.png') ;
    background-repeat: no-repeat;
    background-size: 46px;
    background-position: 50% calc(50% - 10px);
    border: none !important; 
    box-shadow: none !important;
    &:before {
        content: "";
        display: none;
    }
    &:hover {
        background-color: transparent;
        opacity: .7;
    }
}
/* Change the color of various "bars". */
.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
    background:  red;
}
.vjs-progress-control {
    width:80% !important;
}