<div class="row" >    
    <div class="col-md-4 cardCrawl" ng-repeat="aggregation in aggreagtions.aggregationList" >
        <div class="col-md-12">
            <h2 style="border-bottom: 2px solid purple; padding-bottom: 15px; padding-left:10px; position: relative;">{{aggregation.name}}</h2>     
        </div>
        <div class="status row" ng-if="aggregation.status == 'Running'" style="height: 310px;">                    
            <div class="col-md-12 bg-success statusLine">
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <strong>Status:</strong> {{aggregation.status}}
            </div> 
            <div class="col-md-12 bg-info statusLine" ng-if="aggregation.aggregationType == 'PopularityAggregation'">
                <span><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <strong>Date to popularity: </strong>{{aggregation.dateToPopularity| date:'yyyy-MM-dd'}}</span>
            </div>
             <div class="col-md-12 bg-info statusLine" ng-if="aggregation.aggregationType == 'BasicAggregation'">
                <span><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <strong>Minimum item count per cluster: </strong>{{aggregation.minItem}}</span><br>
                <span><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <strong>Cluster count: </strong>{{aggregation.clusterNumber}}</span>
             </div>
            <div class="col-md-12 bg-info statusLine" ng-if="aggregation.aggregationType == 'SpaceAggregation'">
                <span><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <strong>Minimum item count per cluster: </strong>{{aggregation.minItem}}</span><br>
                <span><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <strong>EPS: </strong>{{aggregation.eps}}</span>
                <div ng-repeat="point in aggregation.pointList">
                    <span><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <strong>Longitude </strong>{{point.longitude}} <strong>Latitude </strong> {{point.latitude}}</span>
                </div>
             </div>
        </div>
        <div class="col-md-12" ng-if="aggregation.status != 'Starting'" style="">
            <button class="btn btn-primary btn-sm" ng-click="pauseAggr(aggregation)">
                <span ng-if="aggregation.status == 'Paused'"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>
                <span ng-if="aggregation.status == 'Running'"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>
            </button>
            <button class="btn btn-primary btn-sm" ng-if="aggregation.isStopable" ng-click="stopAggr(aggregation)"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>             
        </div>
        <div class="col-md-12" style="margin-top: 10px; ">
            <div class="row logwindow" style="height: 300px; overflow: auto; border-top: 2px solid purple; padding-top:10px;">
                <div class="col-md-12" ng-repeat="logs in aggreagtions.logList" >
                    <p ng-repeat="log in logs" ng-if="log.id==aggregation.id && log.message!=''">{{log.timestamp  | date:'yyyy-MM-dd HH:mm:ss'}} - {{log.message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>