<div class="row" >    
    <div class="col-md-6 col-lg-4 cardCrawl" ng-repeat="crawlService in crawlServices.serviceList" >
        <div class="row">
            <div class="col-md-12">
                <h2 style="border-bottom: 2px solid purple; padding-bottom: 15px; padding-left:10px; position: relative;">{{crawlService.name}} <small>{{crawlService.id + "-" + crawlService.type + "-" + crawlService.mode;}}</small></h2>     
                <img style="height: 50px; position: absolute; right: 15px; bottom: 20px;" src="img/{{crawlService.type}}_neg.png" alt="{{crawlService.type}}"/>
            </div>
            <div class="col-md-12">
                <div class="infowindow kill">
                    <div class="status row">                                            
                        <div class="col-md-12 statusLine" style="color:#fff;" ng-if="(crawlService.type != 'instagram'
                            && crawlService.type != 'periscope'
                            && crawlService.mode != 'update')
                            || (crawlService.type == 'facebook' && crawlService.mode == 'update')">
                            <div class="nmp" ng-if="crawlService.type == 'facebook'">
                                <div class="row">
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>east</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>south</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>west</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>north</span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-3 text-center">{{crawlService.east}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.south}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.west}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.north}}</span>
                                </div>
                            </div>
                            <p class="row nmp" ng-if="crawlService.type == 'twitter'">
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>longitude</span>
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>latitude</span>
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>radius</span>
                                <span class="col-md-4 text-center">{{crawlService.longitude}}</span>
                                <span class="col-md-4 text-center">{{crawlService.latitude}}</span>
                                <span class="col-md-4 text-center">{{crawlService.radius}}</span>
                            </p>
                        </div>
                    </div>
                <div style="position: absolute; bottom: 10px;left:20px;">            
                    <button class="btn btn-primary btn-sm" ng-click="restartService(crawlService)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>             
                </div>
                </div>
            </div>            
        </div>            
    </div>
</div>
