<div class="card card-container">
    <img id="profile-pic" class="profile-img-card" src="img/logo.png" alt="Crawler to ANGL World View" />
    <p id="profile-name" class="profile-name-card">Crawler service maintance</p>
    <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="loginAsyncAsJSON()">  
        <div class="form-group">
        <input type="email" class="form-control ng-pristine ng-valid" name="name" ng-model="loginname" placeholder="Email" required autofocus>
        <input type="password" class="form-control ng-pristine ng-valid" name="password" ng-model="password" placeholder="password" required>
        <span></span>
        </div>
        <button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Login</button>
    </form>        
</div>