<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="startAggregationAsyncAsJSON()">  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="modeOne">Choose aggregation type </label>
                <div class="col-sm-10">
                    <select id="modeOne" class="form-control" ng-model="aggregationType" ng-init="aggregationType = aggregationTypeList[0]" ng-options="option for option in aggregationTypeList">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="clusterNumber" class="col-sm-2 control-label">Cluster Number</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="clusterNumber" ng-init="clusterNumber=10" ng-model="clusterNumber" placeholder="">
                </div>            
                <label for="minItem" class="col-sm-2 control-label">Minimum item number</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="minItem" ng-init="minItem=2" ng-model="minItem" placeholder="">
                </div>            
            </div>
            <div class="form-group">
                <label for="dateToPopularity" class="col-sm-2 control-label">Date to popularity</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="dateToPopularity" ng-model="dateToPopularity" placeholder="">
                </div>        
            </div>
            <div class="form-group">
                <label for="points" class="col-sm-2 control-label">Pointlist</label>
                <div class="col-sm-4">
                    <input id ="points" type="file" onchange="angular.element(this).scope().onFileChange(this)">
                </div>    
                <label for="eps" class="col-sm-2 control-label">EPS</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="eps" ng-model="eps" ng-init="eps='0.1'" placeholder="">
                </div> 
            </div>
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Create new aggregation</button></div>           
        </form>        
    </div>
</div>