<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="startAggregationAsyncAsJSON()">  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="modeOne">Choose aggregation type </label>
                <div class="col-sm-10">
                    <select id="modeOne" class="form-control" ng-model="aggregationType" ng-init="aggregationType = aggregationTypeList[0]" ng-options="option for option in aggregationTypeList">
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="aggregationType == 'BasicAggregation'">
                <label for="clusterNumber" class="col-sm-2 control-label">Cluster Number</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="clusterNumber" ng-model="basicdata.clusterNumber" placeholder="">
                </div>            
                <label for="minItem" class="col-sm-2 control-label">Minimum item number</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="minItem" ng-model="basicdata.minItem" placeholder="">
                </div>            
            </div>
            <div class="form-group"  ng-if="aggregationType == 'SpaceAggregation'">
                <div class="row">
                    <label for="points" class="col-sm-3 control-label">Pointlist</label>
                    <div class="col-sm-9">
                        <input id ="points" type="file" onchange="angular.element(this).scope().onFileChange(this)">
                    </div>   
                </div>
                <div class="row">
                    <label for="eps" class="col-sm-3 control-label">EPS</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="eps" ng-model="spacedata.eps" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <label for="minItemSpace" class="col-sm-3 control-label">Minimum item number</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="minItemSpace" ng-model="spacedata.minItemSpace" placeholder="">
                    </div> 
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Create new aggregation</button></div>           
        </form>        
    </div>
</div>