<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="startAsyncAsJSON()">  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="nameOne">Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameOne" ng-model="name" placeholder="Crawler name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="modeOne">Choose mode </label>
                <div class="col-sm-10">
                    <select id="modeOne" class="form-control" ng-change="selectMode(mode)" ng-model="mode" ng-init="mode = modeList[0]" ng-options="option for option in modeList">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="typeOne">Choose type </label>
                <div class="col-sm-10">
                    <select id="typeOne" class="form-control" ng-change="selectType(tpye)" ng-model="type" ng-init="type = typeList[0]" ng-options="option for option in typeList">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputviewer3" class="col-sm-2 control-label">Max viewer count</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputviewer3" ng-init="maxViewer=10000" ng-model="maxViewer" placeholder="Max viewer count">
                </div>            
                <label for="inputvideo3" class="col-sm-2 control-label">Max video count</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputvideo3" ng-init="videoCount=10" ng-model="videoCount" placeholder="Max viceoCount">
                </div>            
            </div>
            <div class="form-group" ng-if="type=='facebook'">
                <label for="inputEast3" class="col-sm-1 control-label">East</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputEast3" ng-model="fbCoordinate.east" placeholder="East">
                </div>
            
                <label for="inputWest3" class="col-sm-1 control-label">West</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputWest3" ng-model="fbCoordinate.west" placeholder="West">
                </div>
            
                <label for="inputSouth3" class="col-sm-1 control-label">South</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputSouth3" ng-model="fbCoordinate.south" placeholder="South">
                </div>
                <label for="inputNorth3" class="col-sm-1 control-label">North</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputNorth3" ng-model="fbCoordinate.north" placeholder="North">
                </div>
                
            </div>
            <div class="form-group" ng-if="type=='twitter'">
                <label for="inputLongitude3" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputLongitude3" ng-model="twitterCoordinate.longitude" placeholder="Longitude">
                </div>
            
                <label for="inputLatitude3" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputLatitude3" ng-model="twitterCoordinate.latitude" placeholder="Latitude">
                </div>
                <label for="inputRadius3" class="col-sm-2 control-label">Radius</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputRadius3" ng-model="twitterCoordinate.radius" placeholder="Radius">
                </div>
            
            </div>      
            <div class="form-group" ng-if="type=='custom'">
                <label for="inputListUrl" class="col-sm-2 control-label">Video list url</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputListUrl" ng-model="customData.listUrl" placeholder="List url">
                </div>
                <label for="inputdetailsUrl" class="col-sm-2 control-label">Video details url</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputdetailsUrl" ng-model="customData.detailsUrl" placeholder="Details url">
                </div>
                <label class="col-sm-2 control-label" for="provName">Name </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="provName" ng-model="customData.providerName" placeholder="Provider Name">
                </div>
            </div>      
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Create new service</button></div>           
        </form>        
    </div>
</div>
