<div class="row" >    
    <div class="col-md-12 col-lg-6 cardCrawl" ng-repeat="crawlService in crawlServices.serviceList" >
        <div class="row">
            <div class="col-md-12">
                <h2 style="border-bottom: 2px solid purple; padding-bottom: 15px; padding-left:10px; position: relative;">{{crawlService.name}} <small>{{crawlService.id + "-" + crawlService.type + "-" + crawlService.mode;}}</small></h2>     
                <img style="height: 50px; position: absolute; right: 15px; bottom: 20px;" src="img/{{crawlService.type}}_neg.png" alt="{{crawlService.type}}"/>
            </div>
            <div class="col-md-6">
                <div class="infowindow">
                    <div class="bg-info status row" ng-if="crawlService.status == 'Starting'">                    
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <strong>Status:</strong> {{crawlService.status}}
                        </div> 
                    </div>
                    <div class="status row" ng-if="crawlService.status == 'Running'">                    
                        <div class="col-md-12 bg-success statusLine">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <strong>Status:</strong> {{crawlService.status}}
                        </div> 
                        <div class="col-md-12 bg-success statusLine">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <strong>Running time:</strong> {{getExp(crawlService.startDate)}}
                        </div> 
                        <div class="col-md-12 bg-info statusLine">
                            <span ng-if="crawlService.newVideoByThis > 0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <strong>Added video:</strong> {{crawlService.newVideoByThis}}<br></span>
                            <span ng-if="crawlService.deletedVideoByThis > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <strong>Deleted video:</strong> {{crawlService.deletedVideoByThis}}<br></span>
                            <span ng-if="crawlService.updateVideoByThis > 0"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <strong>Updated count:</strong> {{crawlService.updateVideoByThis}}<br></span>
                        </div>
                        <div class="col-md-12 statusLine" style="color:#fff;" ng-if="(crawlService.type != 'instagram'
                            && crawlService.type != 'periscope'
                            && crawlService.mode != 'update')
                            || (crawlService.type == 'facebook' && crawlService.mode == 'update')">
                            <div class="nmp" ng-if="crawlService.type == 'facebook'">
                                <div class="row">
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>east</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>south</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>west</span>
                                    <span class="col-sm-3 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>north</span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-3 text-center">{{crawlService.east}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.south}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.west}}</span>
                                    <span class="col-sm-3 text-center">{{crawlService.north}}</span>
                                </div>
                            </div>
                            <p class="row nmp" ng-if="crawlService.type == 'twitter'">
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>longitude</span>
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>latitude</span>
                                <span class="col-md-4 text-center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>radius</span>
                                <span class="col-md-4 text-center">{{crawlService.longitude}}</span>
                                <span class="col-md-4 text-center">{{crawlService.latitude}}</span>
                                <span class="col-md-4 text-center">{{crawlService.radius}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="bg-warning status row" ng-if="crawlService.status == 'Paused'">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Status: {{crawlService.status}}
                        </div>
                    </div>
                <p style="position: absolute; bottom: 0px; right:20px;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{crawlService.startDate| date:'yyyy.MM.dd HH:mm:ss'}}</p>
                <div style="position: absolute; bottom: 10px;left:20px;">            
                    <span ng-if="crawlService.status != 'Starting'" style="">
                        <button class="btn btn-primary btn-sm" ng-click="pauseService(crawlService)">
                            <span ng-if="crawlService.status == 'Paused'"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>
                            <span ng-if="crawlService.status == 'Running'"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>
                        </button>
                        <button class="btn btn-primary btn-sm" ng-if="crawlService.isStopable" ng-click="stopService(crawlService)"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>             
                    </span> 
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="infowindow logwindow">
                    <div class="col-md-12" ng-repeat="logs in crawlServices.logList" >
                        <p ng-repeat="log in logs" ng-if="log.id == crawlService.id && log.message != ''">{{log.timestamp| date:'yyyy-MM-dd HH:mm:ss'}} - {{log.message}}</p>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
