<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin form-horizontal ng-pristine ng-valid" role="form" ng-submit="setStaticDataAsyncAsJSON()">              
            <div class="form-group">
                <label for="borderOfLifetime" class="col-sm-4 control-label">Lifetime</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="borderOfLifetime" ng-init="settings.borderOfLifetime" ng-model="settings.borderOfLifetime" placeholder="">
                </div>            
                <label for="twitterLong" class="col-sm-4 control-label">Twitter live long time</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="twitterLong" ng-init="settings.twitterLong" ng-model="settings.twitterLong" placeholder="">
                </div>  
                <label for="minElementCountToCreate" class="col-sm-4 control-label">Minimum video count to create space</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="minElementCountToCreate" ng-init="settings.minElementCountToCreate" ng-model="settings.minElementCountToCreate" placeholder="">
                </div> 
                <label for="periscopePlusHours" class="col-sm-4 control-label">Plus hours to periscope</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="periscopePlusHours" ng-init="settings.periscopePlusHours" ng-model="settings.periscopePlusHours" placeholder="">
                </div>
                 <label for="plusPerEcho" class="col-sm-4 control-label">plus min per echo</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="plusPerEcho" ng-init="settings.plusPerEcho" ng-model="settings.plusPerEcho" placeholder="">
                </div>
                <label for="apiKey" class="col-sm-4 control-label">Location Helper api key</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="apiKey" ng-init="settings.apiKey" ng-model="settings.apiKey" placeholder="">
                </div> 
            </div>
            <div class="col-sm-4 col-sm-offset-8"><button id="sendButton" class="btn btn-lg btn-primary btn-block btn-signin" >Set static data</button></div>           
        </form>        
    </div>
</div>